body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #292929;
  font-family: Helvetica, Ariel, sans-serif;
  color: #aaa;
}

.container {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}

.landing {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-image: url('/images/moon_1440.png');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
  width: 100%;
  max-height: 912px;
  align-items: center;
  justify-content: flex-end;
}

a {
  padding: 10px 30px;
  /* background-color: rgba(0, 0, 0, .5); */
  text-decoration: none;
  line-height: 2em;
  color: #eee;
  font-size: 1.5em;
  border-radius: 3px;
  margin-bottom: 10px;
  text-shadow: 10px 10px 20px black;
  font-weight: 100
}


/* Mobile Landscape */
@media only screen and (max-width: 823px) {
  .landing {
    background-image: url('images/moon_720.png');
    margin-bottom: 20px;
  }
}